<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment"
        tools:targetApi="31">
        <activity
            android:name=".Impquestions.QUnit8Activity"
            android:exported="false" />
        <activity
            android:name=".Impquestions.QUnit7Activity"
            android:exported="false" />
        <activity
            android:name=".Impquestions.QUnit6Activity"
            android:exported="false" />
        <activity
            android:name=".Impquestions.QUnit5Activity"
            android:exported="false" />
        <activity
            android:name=".Impquestions.QUnit4Activity"
            android:exported="false" />
        <activity
            android:name=".Impquestions.QUnit3Activity"
            android:exported="false" />
        <activity
            android:name=".Impquestions.QUnit2Activity"
            android:exported="false" />
        <activity
            android:name=".Impquestions.QUnit1Activity"
            android:exported="false" />
        <activity
            android:name=".labassignment.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".labassignment.Lab15Activity"
            android:exported="false" />
        <activity
            android:name=".labassignment.Lab14Activity"
            android:exported="false" />
        <activity
            android:name=".labassignment.Lab13Activity"
            android:exported="false" />
        <activity
            android:name=".labassignment.Lab12Activity"
            android:exported="false" />
        <activity
            android:name=".labassignment.Lab11Activity"
            android:exported="false" />
        <activity
            android:name=".labassignment.LabTenActivity"
            android:exported="false" />
        <activity
            android:name=".labassignment.LabNineActivity"
            android:exported="false" />
        <activity
            android:name=".labassignment.LabEightActivity"
            android:exported="false" />
        <activity
            android:name=".labassignment.LabSevenActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".labassignment.LabSixActivity"
            android:exported="false" />
        <activity
            android:name=".labassignment.LabFiveActivity"
            android:exported="false" />
        <activity
            android:name=".labassignment.LabThreeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".labassignment.LabFourActivity"
            android:exported="false" />
        <activity
            android:name=".labassignment.LabThreeActivity"
            android:exported="false" />
        <activity
            android:name=".labassignment.LabTwoActivity"
            android:exported="false" />
        <activity
            android:name=".labassignment.LabOneActivity"
            android:exported="false" />
        <activity
            android:name=".assignment2.CalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".assignment2.RectCalculateActivity"
            android:exported="false" />
        <activity
            android:name=".assignment2.SimpleInterestActivity"
            android:exported="false" />
        <activity
            android:name=".assignment2.SummaryActivity"
            android:exported="false" />
        <activity
            android:name=".assignment2.QuizGameActivity"
            android:exported="false" />
        <activity
            android:name=".widget.WidgetActivity"
            android:exported="false" />
        <activity
            android:name=".layoutExample.ProfileBookRefineActivity"
            android:exported="false" />
        <activity
            android:name=".layoutExample.ProfileBookActivity"
            android:exported="false" />
        <activity
            android:name=".UnitSeven.UnitSevenActivity"
            android:exported="false" />
        <activity
            android:name=".UnitSix.UnitSixActivity"
            android:exported="false" />
        <activity
            android:name=".UnitFive.UnitFiveActivity"
            android:exported="false" />
        <activity
            android:name=".UnitEight.UnitEightActivity"
            android:exported="false" />
        <activity
            android:name=".UnitFour.UnitFourActivity"
            android:exported="false" />
        <activity
            android:name=".UnitThree.UnitThreeActivity"
            android:exported="false" />
        <activity
            android:name=".UnitTwo.UnitTwoActivity"
            android:exported="false" />
        <activity
            android:name=".UnitOne.unitOne"
            android:exported="false" />
        <activity
            android:name=".TextActivity"
            android:exported="false" />
        <activity
            android:name=".Assignment1.DemoTwoActivity"
            android:exported="false" />
        <activity
            android:name=".Assignment1.DemoOneActivity"
            android:exported="false" />
        <activity
            android:name=".Assignment1.AssignmentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Hello.HelloWorldActivity"
            android:exported="false" />
        <activity
            android:name=".Details"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>